{% extends 'sr/base.html' %}
{% load index %}

{% block content %}
<div class="container">
    <h1>Public decks</h1>
    <table class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Deck name</th>
                <th>Number of cards</th>
                <th>Deck details</th>
                <th>Subscribe to deck</th>
            </tr>
        </thead>
        <tbody>
            {% for deck in notAdded %}
            <tr>
                <td>{{ deck.name }}</td>
                <td>{{ countsNotAdded|index:forloop.counter0 }}</td>
                <td><a href="{% url 'sr:deck-details' deck_name=deck.name %}">Details</a></td>
                <td><a href="{% url 'sr:add-deck' deck_name=deck.name %}">Add to library</a></td>
            </tr>
            {% endfor %}
            {% if added and notAdded %}
            <tr border-bottom: 1px solid black;></tr>
            {% endif %}
            {% for deck in added %}
            <tr>
                <td>{{ deck.name }}</td>
                <td>{{ countsAdded|index:forloop.counter0 }}</td>
                <td><a href="{% url 'sr:deck-details' deck_name=deck.name %}">Details</a></td>
                <td>Already added</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
