<!-- COPIED OVER; NOT FIXED -->
{% extends "sr/base.html" %}
{% load index %}
{% block content %} 

{% if user.is_authenticated %}
<div class="container">
    <h1>Your decks</h1>
    {% if instance_list %}
    <table class="table table-striped" style="max-width: 750px;">
        <thead>
            <tr>
                <th>Deck name</th>
                <th>Cards due</th>
                <th>Reviews completed</th>
                <th>Deck details</th>
            </tr>
        </thead>
        <tbody>
            {% for instance in instance_list %}
            <tr>
                <td>{{ instance.deck.name }}</td>
                {% if due_list|index:forloop.counter0 > 0 %}
                <td><a href="{% url 'sr:review' deck_name=instance.deck.name %}">{{ due_list|index:forloop.counter0 }} - Review now</a></td>
                {% else %}
                <td>0</td>
                {% endif %}
                <td>{{ instance.reviews_done }}</td>
                <td><a href="{% url 'sr:deck-details' deck_name=instance.deck.name %}">Details</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    You don't have any decks yet! Go ahead and <a href="{% url 'sr:browse-decks' %}">add some.</a>
    {% endif %}
</div>
<br>
{% endif %}

<div class="container">
    <h1>Deck search</h1>
    <p><a href="{% url 'sr:browse-decks' %}">Click here</a> to browse and add decks.</p>
</div>

{% endblock %}
