{% extends 'sr/base.html' %}

{% block content %}

{% load static %}

<div class="container">
  <br>
  <div id="front" style="font-size:48px;">
    {{ card.front|safe }}
  </div>
  <!-- <img src="{% static "sr/JPEG_example_JPG_RIP_050.jpg" %}"> -->
  <!-- <div id="reverse"> -->
  <div id="reverse" style="display: none; font-size:22px;">
    <hr style="border:2px solid #000;">
    <p>{{ card.back|safe }}</p>
    <form method="post">
      {% csrf_token %}
      <button type="submit" name="submit" value="0">Wrong</button>
      <button type="submit" name="submit" value="1">Right</button>
      <button type="submit" name="submit" value="2">Trivial</button>
      <input type="hidden" name="id" value="{{ id }}">
    </form>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
$(document).keypress(function() {
$("#reverse").css("display", "inline");
});
</script>
{% load static %}
{% endblock %}
