{% extends "sr/base.html" %}

{% block content %}
<div class="container">
    <h1>Overview</h1>
    <p>Psychological research has discovered ways to optimize human learning. Unfortunately, many of these findings are implemented imperfectly and
    infrequently. After all, most people are not experts in cognitive psychology. And even those who are will find it difficult and
    time-consuming to structure their learning in accordance with the research literature.</p>
    <p>Edumate remeides this gulf between theory and practice. Edumate understands the relevant psychology, so that you don't have to. And Edumate
    manages, tracks, and schedules everything you learn, so that you can focus all your energy on learning.</p>
    <p>Edumate also gathers anonymized data that can be used to inform and improve the learning process. Users can be randomly assigned to
    different scheduling algorithm or parameters to determine what works best. And when used in a classroom setting, Edumate provides
    a detailed view of student mastery of the material.</p>

    <h2>So What Exactly Does Edumate Do?</h2>
    <p>Under construction...</p>
</div>
{% endblock %}
